body {

    color: #d8dee9;
    background: #2e3440;

    /* Changing font family */
    font-family: Arial, Helvetica, sans-serif;
}

h1 {

    color: #8fbcbb;
}

h2 {

    color: #d08770;
}

a {

    color: #ebcb8b;

    /* Removes the underline; Can have "line-through" like strike through */
    text-decoration: none;
}

strong, em {

    color: #bf616a;
    font-size: 1.1rem;
}

/* Using id selectors */
#heading1 {

    color: #a3be8c;
}

/* Using class selectors */
.purple_text {

    color: #b48ead
}

.dash {

    border: 1px dashed white;
    line-height: 1.15em;
}

.outer_shape {

    width: 200px;
    height: 200px;

    background: grey;
}

.inner_shape {

    width: 50%;
    height: 50%;

    background: white;
}

.navbar {

    height: 50px;
    background: black;
    border: 5px dashed white;
    border-radius: 5px;
}

.banner {

    min-height: calc(25vh - 50px);
    background: white;
    border-radius: 20px;
}

/* display changes how elements behave */
.block {

    background: grey;
    /* display: inline; */

    text-align: center;
    width: 100px;
    margin: 10px auto;
}

.inline {

    display: block;

    /* text-align: center; */
    width: 100px;
    margin-left: auto;
}