body {

    background: #2e3440;
    color: #d8dee9;
}

/* ---------- Pseudo Selectors ---------- */

h1:hover {

    color: red;
}

/* last-child works the same but is the last one */
li:first-child {

    font-style: italic;
}

/* There is also "only-child" */
li:nth-child(3) {

    color: blue;
}

/* Unvisited link */
#google-link:link {

    color: coral;
}

/* If a link has been clicked on */
#google-link:visited {

    color:orange;
}

/* ---------- Advanced Selectors ---------- */

/* Adjacent Sibling Combinator */
/* "For every h3 that directly follows h2..." */
h2 + h3 {

    color: blue;
}

/* General Sibling Combinator */
/* Matches all iterations of the second element that follow the first element */
a ~ strong {

    font-size: 1.15em;
    color: brown;
}

/* Child selector (direct and not recursive) */
ol > li {

    font-weight: bold;
}

/* Descendent selector (think recursively) */
#descend li {

    /* un-doing previous effects */
    font-style: normal;
    font-weight: normal;

    color: goldenrod;
}

/* ---------- Attribute Selectors ---------- */

h1[class=attribute] {

    font-style: italic;
    background: aquamarine;
}

/* 
    [class~="value"]     -   Selects elements that have the matching title attribute 
    [class|="top"]       -   ... begin with the keyword (i.e. top, top-text) 
    [class^="top"]       -   ... begin with the specific keyword (i.e. top) 
    [class$="bottom"]    -   ... end with the specific keyword (i.e. bottom) 
    [class*="ph"]        -   ... contain a specified value (i.e. phrase, paragraph) 
*/

/* ---------- Other Stuff ---------- */

/* Setting an image as the background */
.img_back {

    background-image: url(https://raw.githubusercontent.com/agaggi/dotfiles/master/wallpapers/d.jpg);

    /* background-size: contain / cover */
}

#gradient {

    width: 400px;
    height: 400px;

    /* Can do "to bottom right" for a diagonal effect */
    background: linear-gradient(to right, yellow, blue, red);
}

#radial {

    width: 400px;
    height: 400px;

    /* Elipse by default */
    /* Can also specify percentages -- go ascendingly */
    background: radial-gradient(circle, yellow, blue, red);
}

/* ----- Box Model Stuff ----- */

#box_model {

    border: 5px solid green;
    padding: 20px;
    margin: 40px;

    /* top right bottom left */
    /* top-bottom left-right */
}

.container {

    background: white;
    margin: 20px;

    display: flex;

    /* row-reverse, column-reverse... */
    flex-direction: row;
    flex-wrap: wrap;

    /* Lots of cool things, look up additional stuff */
    justify-content: space-between;
}

.container-item {

    background: green;
    /* flex-grow: 1; */
    /* flex-basis: 100px; */

    /* flex: grow(0) shrink(1) basis(auto) */

    font-size: 25px;
    text-align: center;

    width: 70px;
    line-height: 50px;

    margin: 10px;
}

.grid-container {

    background: white;
    margin: 20px;
    height: 300px;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;

    /* justify-content: space-evenly;
    align-content: space-around; */

    /* grid-column-gap: 150px;
    grid-row-gap: 50px;
    grid-gap: 150px 50px; */
}

.grid-item {

    color: black;
    font-size: 25px;
    text-align: center;

    width: 70px;
    line-height: 40px;
    margin: 10px;
}

/* ----- Transition Stuff ----- */

.submit_button {

    margin: 20px 10px;
    padding: 10px 15px;
    border: none;

    color: #d8dee9;
    background: #5e81ac;
    font-size: 1em;

    /* element duration transition-style */
    transition: background 300ms ease-in-out;

    /* To play certain transitions on certain browsers: 

        -webkit-transition      safari
        -moz ...                firefox
        -o ...                  opera
    */
}

.submit_button:hover {

    background: #81a1c1;
    transform: translate(10px, 10px);

    /* 
        transform: scale(2);
        transform: rotate({angle}deg); 
        transform: skew{x, y}

        "scale x, skew x, skew y, scale y, translate x, translate y"
        transform: matrix(1, 0, 0.45)
    */
}

/* ----- Animation Stuff ----- */

#header {

    /* animation-name: animation;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; */

    animation: animation 5s linear 2s infinite alternate-reverse;
}

@keyframes animation {

    /* from { }
    to { } */

    0% {

        background: red;
    }

    50% {
        
        background: orange;
    }

    100% {

        background: yellow;
    }
}